# for deploying your contracts to remote blockchain rename this file to ".env" and fill empty values
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
INFURA_ID=
DEFAULT_TASK_NETWORK=rinkeby
DEFAULT_VOTING_PLATFORM_ADDRESS=0x55446a1B7554B74f692837cA70468dCca16385aA
